<partial name="_SimpleTwoPlayerTurnIndicator.cshtml" />

<div class="ch-board">@* Let the client populate this after connection *@</div>

@* TODO: Make this look better *@
<button id="game-forfeit-and-rematch" class="btn btn-secondary mt-3">Forfeit/Rematch</button>