@{
	int rows = ((int?) ViewData["rows"]) ?? 6;
	int cols = ((int?) ViewData["cols"]) ?? 7;
}

<partial name="_SimpleTwoPlayerTurnIndicator.cshtml" />

<div class="c4-board">
	@for (int i = 0; i < cols; i++)
	{
		<button id="btn-col-@i" class="game-input m-1 btn btn-secondary" data-col="@i"></button>
	}

	<div class="c4-cosmetic"></div>

	@for (int row = rows - 1; row >= 0; row--)
	{
		@for (int col = 0; col < cols; col++)
		{
			string id = $"slot-x{col}-y{row}";
			<div id="@id" class="c4-slot"></div>
		}
	}

	<div class="c4-cosmetic"></div>
	<button id="game-forfeit-and-rematch" class="btn btn-secondary c4-clear-btn"></button>
</div>
