
.ch-board {
	display: grid;
	box-sizing: content-box;
	border: 2px solid rgb(10, 92, 122);
	border-radius: 0.25em;
	/*background-color: rgb(53, 106, 160);*/

	height: calc(8 * 6em);
	width: calc(8 * 6em);
	grid-template-rows: repeat(8, 6em);
	grid-template-columns: repeat(8, 6em);
}

.ch-slot-white {
	background-color: antiquewhite;
}

.ch-slot-black {
	background-color: rgb(53, 106, 160);
}

.ch-slot-highlight, .ch-token-highlight, .ch-slot-last-play-highlight {
	border: 2px solid rgb(168, 212, 247);
	/*box-shadow: 0 0 10px rgb(158, 202, 237) inset;*/
	box-shadow: 0 0 10px cyan inset;
}

.ch-slot-highlight:hover, .ch-token-highlight:hover {
	border: 2px solid yellow;
	box-shadow: 0 0 15px rgb(0, 255, 157) inset;
}

.ch-token-white, .ch-token-black {
	border: 2px ridge black;
	border-radius: 50%;
	margin: 4%;
	width: 92%;
	height: 92%;
}

.ch-token-white, #player-1 {
	background-color: floralwhite;
}

.ch-token-black, #player-2 {
	background-color: slategrey;
}

.ch-token-highlight:focus {
	border-color: yellow;
	box-shadow: 0 0 10px cyan;
}

.ch-token-kinged {
	background-image: url("../images/crown.png");
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: center;
}

.ch-token-ghost {
	/* Adjust opacity to make the element slightly transparent */
	opacity: 0.2;
}

#turn-indicator {
	display: grid;
	box-sizing: content-box;
	/* 2px margin matches the border of the board */
	margin: 2px 2px 0.5em 2px;
	grid-template-columns: 1fr 1fr;
	/* Same as ch-board width */
	width: calc(8 * 6em);
}

#turn-indicator > h3 {
	display: inline-block;
	border: 1px solid black;
	border-radius: 0.75em;
	padding: 0.25em;
	margin: 0px 0.125em;
	color: black;
}

.active-player {
	border: 3px solid lime !important;
	color: white;
}
