@page
@model Bored_with_Web.Areas.Identity.Pages.Account.Manage.GameReplayModel
@{
	ViewData["Title"] = "Game Replays";
    ViewData["ActivePage"] = ManageNavPages.GameReplay;
}

<h3>@ViewData["Title"]</h3>
<div class="row">
    <div class="col-md-6">
        <p>
            Game replays are not currently available.
        </p>
        <a id="delete-game-replay-button" class="btn btn-danger" href="#">Delete Game Replays</a>
    </div>
</div>